<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/SSHgit/restAssuredApiTest">
        <classes>
            <class name="com.jsonServer.testCases.PublicRestApis.read.StaticReadStudentTest"></class>
            <class name="com.jsonServer.testCases.PublicRestApis.write.StaticWriteStudentTest"></class>
            <class name="com.jsonServer.testCases.PublicRestApis.read.DynamicReadStudentTest"></class>
            <class name="com.jsonServer.testCases.PublicRestApis.write.DynamicWriteStudentTest"></class>
            <class name="com.jsonServer.testCases.PublicRestApis.read.StaticReadCoursesTest"></class>
            <class name="com.jsonServer.testCases.PublicRestApis.write.StaticWriteCourseTest"></class>
            <class name="com.jsonServer.testCases.PublicRestApis.read.DynamicReadCourseTest"></class>
            <class name="com.jsonServer.testCases.PublicRestApis.write.DynamicWriteCourseTest"></class>
        </classes>
    </test>
</suite>